{% extends "halls/base.html" %}

{% block title %}Login{% endblock %}

{% block content %}

<div class="container">

    <div class="row mt-5">

        <div class="col-sm-12 col-md-6 shadow-lg rounded p-3 mx-auto">
            <h3 class="dispaly-3 text-center">Update Hall of Fame</h3>
            <form action="" method="post">
                {% csrf_token %}
                {% include "halls/form.html" %}
                <button type="submit" class="btn btn-primary btn-block mt-4 mb-3">Submit</button>
            </form>
        </div>
    </div>

</div>


{% endblock %}